@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
.nav-link{
    color: #ffffff !important;
    font-weight: bold;
}
.navbar-brand{
    margin-left: 1rem;
    padding: 0 !important;
}
.dropdown-menu .container .row a{
    text-decoration: none;
    color: white;
}
.dropdown-menu .col a{
    text-decoration: none;
    color: white;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
    background: rgba( 0, 0, 0, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
}
@media(min-width: 576px){
    .dropdown:hover > .dropdown-menu{
        display: block;
        margin-top: 0;
    }
}
.container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 255, 255, 255, 0.35 );
backdrop-filter: blur( 7px );
-webkit-backdrop-filter: blur( 7px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.container .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.8s;
}

.container .card:hover .content {
    transform: translateY(-20px);
}

.container .card .content .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: visible;
    animation: rotate 7s linear infinite;
}

.container .card .content .imgBx img {
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    animation: translate 5s linear infinite;
}

.container .card .content .contentBx h3 {
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.container .card .sci {
    position: absolute;
    bottom: 50px;
    display: flex;
}

.container .card .sci li {
    list-style: none;
    margin: 0 -14% !important;
    transform: translateY(40px);
    transition: 0.8s;
    opacity: 0;
}

.container .card:hover .sci li {
    transform: translateY(0px);
    opacity: 1;
}

.container .card .sci li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}
h3{
    font-weight: bold;
}
.container .card .content .contentBx h3 span{
    font-weight: 500;
}
.container .card .content .contentBx h3{
    font-weight: 600;
}
@keyframes translate {
    0% { transform: translateY(0); }
    50%{ transform: translateY(13px);}
    100% { transform: translateY(0px); }
}
@keyframes rotate {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}
.bg{
    background: #4C4D4E;
}

    
