@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.nav-link{
    color: #ffffff !important;
    font-weight: bold;
}
.navbar-brand{
    margin-left: 2rem ;
    padding: 0 !important;
}
.dropdown-menu .container .row a{
    text-decoration: none;
    color: white;
}
.dropdown-menu .col a{
  text-decoration: none;
  color: white;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
  background: rgba( 0, 0, 0, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
}
@media(min-width: 576px){
    .dropdown:hover > .dropdown-menu{
        display: block;
        margin-top: 0;
    }
}
.bg-animation{
    width: 100%;
    height: 550px;
}
.bg{
background-color: #4C4D4E;
/* background: url(../images/bg.jpg); */
}
#mercury-card{
    background-color: #212529 !important;
    color: #ffffff;
    border-radius: 0 !important;
}
.card-container{
  font-family: CooperHewitt,Helvetica,Arial,sans-serif ;
  font-weight: 400 ;
  display: flex ;
  flex-wrap: wrap ;
  max-width: 1200px ;
  justify-content: center;
  color: white;
}
.card-container .card{

  border-radius: 0px;
  background: rgba( 33, 37, 41, 0.8 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.card-one{
  border-right: 2px solid white !important;
}
.card-two{
  border-right: 2px solid white !important;
}
.card-three{
  border-right: 2px solid white !important;
}
.Explore{
    color: #447ecf;
}
.row .col-md-6 h4{
  font-weight: bold;
}
.card-footer{
    font-size: 15px;
}

.distance img{
    animation: distance 4s linear infinite;
}
.period img{
    animation: period 4s linear infinite;
}
.radius img{
    animation: radius 4s linear infinite;
}
.mass img{
  animation: mass 4s linear infinite;
}
.s-area img{
    animation: s-area 4s linear infinite;
}
.lod img{
    animation: lod 4s linear infinite;
}

@keyframes distance {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @keyframes period {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @keyframes radius {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @keyframes mass {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
@keyframes s-area {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @keyframes lod {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
 
